.form {
display: flex;
justify-content: center; 
margin-top: 16px;  
align-items: center;       
gap: 8px; 
}
input{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
width: 272px;
padding: 8px 16px;
border-radius: 4px;
border: 1px solid #808080;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.04em;
color: #808080;

}
input:focus{
border-color: #007bff; 
outline: none; 
}
button[type="submit"] {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 8px;
border: none;
padding: 8px 16px;
width: 91px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #6c8cff; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  list-style: none;
  padding-right: 156px;
  margin: 16px auto;
  justify-content: center;
  row-gap: 24px;
  column-gap: 24px;
}

.gallery li {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #808080;
  width: 360px;
  transition: transform 0.2s;
}

.gallery li:hover {
  transform: translateY(-5px);
}
.gallery img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: self-end;
  color: #555;
  width: 360px;
  height: 48px;
}

.info p {
  margin: 0;                    
  text-align: center; 
  color: #000;        
  font-weight: bold;
}
.info p span.value {
  color: #333; /* світлий колір для значення */
  font-weight: normal;
}
.loader {
  text-align: center;
  margin: 0px auto;
  font-size: 16px;
  color: #333;
  width: 256px;
  height: 24px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.loader:active {
  height: 100%;
  width: 0%;
  background-color: #4e75ff;
  position: absolute;
  top: 0;
  left: 0;
  animation: fillLoader 2s linear forwards;
}
.loader.is-hidden{
display: none;
}
@keyframes fillLoader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.js-btn-load{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 8px;
border: none;
padding: 8px 16px;
width: 125px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
margin:0 auto;
}
.js-btn-load:hover{
background-color: #6c8cff;
}
.js-btn-load.is-hidden{
display: none;
}


